.movies-list{
    display: flex;
    flex-direction: column;
    padding: 0 10px;
}

.movies-list__cards{
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 38px 20px;
    height: 100%;
    box-sizing: border-box;
    padding: 70px 0 0 0;
    list-style: none;
    justify-items: center;
    margin-bottom: 30px;
}

@media (max-width: 864px) {
    .movies-list__cards{
        grid-template-columns: repeat(auto-fit, minmax(339px, 1fr));
        gap: 30px;
        max-width: 708px;
    }
}

@media (max-width: 600px) {
    .movies-list__cards{
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 16px;
    }
}