.popup {
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    justify-content: center;
    align-items: center;
    z-index: 50;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    display: flex;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.4s, opacity 0.5s linear;
}

.popup_opened {
    visibility: visible;
    opacity: 1;
    transition: visibility 0.4s, opacity 0.5s linear;
}

.popup__container {
    position: relative;
    margin: 0 auto 10px auto;
    padding: 0;
    box-sizing: content-box;
    border-radius: 10px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    max-width: 430px;
    width:100%;
    min-width: 282px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
}

.popup__status {
    box-sizing: border-box;
    position: relative;
    min-width: 430px;
    border-radius: 10px;
    background-color: #fff;
    padding: 19px 36px;
}

.popup__close-button {
    position: absolute;
    right: -40px;
    top: -45px;
    border: none;
    background: none;
    height: 37px;
    width: 37px;
    margin: 0;
    padding: 0;
    transition: visibility 0.4s, opacity 0.5s linear;
}

.popup__close-button:before, 
.popup__close-button:after {
    position: absolute;
    content: '';
    height: 32px;
    border: 2px solid #FFFFFF;
    background-color: #FFFFFF;
    top: 0;
}

.popup__close-button:before {
    transform: rotate(45deg);
}

.popup__close-button:after {
    transform: rotate(-45deg);
}

.popup__close-button:hover {
    opacity: 40%;
    cursor: pointer;
}

.popup__status-image {
    width: 90px;
    height: 90px;
    margin: 0 auto;
}

.popup__status-text {
    margin: 32px 0 0;
    text-align: center;
    color: #000000;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    font-family: Inter, Arial, sans-serif;
    line-height: 1.2;
}


@media screen and (max-width: 620px) {
    .popup__container {
        margin-top: 80px;
        margin-bottom: 25px;
        max-width: 282px;
    }

    .popup__close-button {
        right: 0;
        top: -40px;
        height: 22px;
        width: 22px;
    }
    
    .popup__close-button:after, .popup__close-button:before {
        height: 22px;
        border-width: 1px;
    }
}