.nav-tab{
    background-color: #F5F5F5;
    text-align: center;
    padding: 25px 0;
}

.nav-tab__link{
    text-decoration-line: underline;
    margin-right: 40px;
    color: #000000;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
}

.nav-tab__link:last-of-type{
    margin-right: 0;
}