.promo{
    background-color: #5C5C5C;
    position: relative;
}

.promo__container{
    display: flex;
    justify-content: center;
    padding: 82px 0 122px;
}

.promo__title{
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 58px;
    color: #FFFFFF;
    letter-spacing: -0.04em;
    text-align: center;
    position: absolute;
    max-width: 730px;
    margin: 0;
    align-self: center;
}

@media screen and (max-width: 475px) {
    .promo {
        min-height: 570px;
        padding: 0 14px;
    }

    .promo__container{
        padding-bottom: 0;
    }

    .promo__title {
        max-width: 300px;
        font-size: 31px;
        line-height: 39px;
    }

    .promo__img{
        width: 248px;
        height: 248px;
    }
}