.search-form{
    margin: 0 auto;
    max-width: 1280px;
    padding: 0 70px
}

.search-form__container{
    display: flex;
    border-bottom: 1px solid rgb(170,170,170,0.2);
    padding: 80px 0 94px;
    max-width: 1280px;
    justify-content: space-between;
    margin-bottom: 20px;
}

.search-form__form{
    width: 100%;
    position: relative;
    margin-right: 48px;
}

.search-form__input{
    opacity: 0.2;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    border: 1.5px solid #AAAAAA;
    border-radius: 50px;
    width: 96%;
    padding: 15px 0 15px 22px;
}

.search-form__button{
    background-image: url(../../../images/find.svg);
    position: absolute;
    top: 10px;
    right: 15px;
    width: 80px;
    height: 34px;
    border: none;
    background-color: #FFFFFF;
    padding: 0;
    cursor: pointer;
}

.search-form__filter-checkbox{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.search-form__checkbox{
    display: flex;
    margin-left: 14px;
    appearance: none;
    width: 36px;
    height: 20px;
    border-radius: 20px;
    transition: 0.5s;
    background: red;
}

.search-form__checkbox::before{
    content: '';
    position: relative;
    top: 2px;
    left: 3px;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background-color: #FFFFFF;;
    transition: 0.5s;
}

.search-form__checkbox:checked{
    background-color: #2BE080;
}

.search-form__checkbox:checked::before{
    transform: translateX(16px);
}

.search-form__checkbox:hover{
    cursor: pointer;
}

.search-form__text{
    margin: 0;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
}

@media (max-width: 864px) {
    .search-form{
        padding: 0 30px;
    }

    .search-form__container{
        flex-direction: column;
    }

    .search-form__form{
        margin: 0 0 38px;
    }

    .search-form__filter-checkbox{
        justify-content: center;
    }
}

@media(max-width: 600px) {
    .search-form{
        padding: 0 10px;
    }
}