.login{
    padding: 70px 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.login__form{
    display: flex;
    flex-direction: column;
}

.login__logo{
    width: 38px;
    height: 38px;
}

.login__title{
    margin: 40px 0;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
}

.login__label{
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #A0A0A0;
    margin: 24px 0 5px;
}

.login__label:first-of-type{
    margin-top: 0;
}

.login__input{
    border: none;
    border-bottom: 1px solid #E8E8E8;
    outline:none;
    padding: 0 0 10px;
}

.login__button{
    border: none;
    background: #2BE080;
    border-radius: 3px;
    width: 395px;
    height: 45px;
    cursor: pointer;
    margin-top: 221px;
}

.login__text{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #A0A0A0;
    margin: 16px 0 0;
}